<div class="layout-horizontal flex-wrap grow-children">
    <div class="display-container">
        <div class="layout-horizontal space">
            <div>Img WOLOX</div>
            <div class="flex-1"></div>
            <div>Inicio</div>
            <div>Beneficios</div>
            <div>
                <button class="button succes">List</button>
            </div>
            <div>
                <button class="button primary">Login</button>
            </div>
        </div>
    </div>
</div>



<!-- 

<div class="layout-horizontal flex-wrap grow-children">
    <div class="layout-horizontal flex-children" style="width: 100%;">
        <div>Box 1</div>
        <div>Box 2</div>
        <div>Box 3</div>
        <div>Box 4</div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal flex-children" with one child's contents being disproportionately lengthy</h3>
        <div class="layout-horizontal flex-children" style="width: 800px;">
            <div>Box 1</div>
            <div>Box 2</div>
            <div>Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal grow-children" with one child's contents being disproportionately lengthy using
            grow-children</h3>
        <div class="layout-horizontal grow-children" style="width: 800px;">
            <div>Box 1</div>
            <div>Box 2</div>
            <div>Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3 Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal"</h3>
        <div class="layout-horizontal" style="width: 800px;">
            <div>Box 1</div>
            <div class="flex-1">class="flex-1"</div>
            <div>Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal"</h3>
        <div class="layout-horizontal" style="width: 800px;">
            <div class="flex-1">class="flex-1"</div>
            <div class="flex-2">class="flex-2"</div>
            <div class="flex-3">class="flex-3"</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal pack-start"</h3>
        <div class="layout-horizontal pack-start" style="width: 800px;">
            <div>Box 1</div>
            <div>Box 2</div>
            <div>Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal pack-center"</h3>
        <div class="layout-horizontal pack-center" style="width: 800px;">
            <div>Box 1</div>
            <div>Box 2</div>
            <div>Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal pack-end"</h3>
        <div class="layout-horizontal pack-end" style="width: 800px;">
            <div>Box 1</div>
            <div>Box 2</div>
            <div>Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal space-between"</h3>
        <div class="layout-horizontal space-between" style="width: 800px;">
            <div>Box 1</div>
            <div>Box 2</div>
            <div>Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal space-between" with content of varying length</h3>
        <div class="layout-horizontal space-between" style="width: 800px;">
            <div>Box 1</div>
            <div>Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2 Box 2</div>
            <div>Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal space-around"</h3>
        <div class="layout-horizontal space-around" style="width: 800px;">
            <div>Box 1</div>
            <div>Box 2</div>
            <div>Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal flex-children"</h3>
        <div class="layout-horizontal flex-children" style="width: 800px; height: 140px;">
            <div class="align-box-start">class="align-box-start"</div>
            <div class="align-box-end">class="align-box-end"</div>
            <div class="align-box-center">class="align-box-center"</div>
            <div>Box 4 (default is align-items: "stretch")</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal flex-children"</h3>
        <div class="layout-horizontal flex-children shrink-children" style="width: 800px; height: 140px;">
            <div class="align-box-baseline" style="font-size:8px;">class="align-box-baseline"</div>
            <div class="align-box-baseline" style="font-size:18px;">class="align-box-baseline"</div>
            <div class="align-box-baseline" style="font-size:28px;">class="align-box-baseline"</div>
            <div class="align-box-baseline" style="height: 80px;">class="align-box-baseline"</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-vertical flex-children" (set height on parent container)</h3>
        <div class="layout-vertical flex-children" style="width: 200px; height: 400px;">
            <div>Box 1</div>
            <div>Box 2</div>
            <div>Box 3</div>
            <div>Box 4</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-vertical flex-children"</h3>
        <div class="layout-vertical flex-children" style="width: 500px; height: 400px;">
            <div class="align-box-start">class="align-box-start"</div>
            <div class="align-box-end">class="align-box-end"</div>
            <div class="align-box-center">class="align-box-center"</div>
            <div>Box 4 (default is align-items: "stretch")</div>
        </div>
    </div>

    <div class="display-container">
        <h3>class="layout-horizontal pack-center"</h3>
        <div class="layout-horizontal pack-center" style="height: 400px; width: 400px;">
            <div class="align-box-center">class="align-box-center"</div>
        </div>
    </div>
    <div class="dead-center">
        <div style="border: 1px solid green;">class="dead-center" (on parent)</div>
    </div>
</div>

<p>Table like emulation</p>
<div class="layout-vertical">
    <div class="layout-horizontal flex-children">
        <div class="flex-2">adslfjasldfja sldfj aljf ladjaldjf alsdjf alsdjf aljfasd lfadjasdlfjk</div>
        <div>adslfjasldfja sldfj aljf ladjaldjf alsdjf alsdjf aljfasd lfadjasdlfjk</div>
        <div class="flex-3">adslfjasldfja sldfj aljf ladjaldjf alsdjf alsdjf aljfasd lfadjasdlfjk</div>
        <div>adslfjasldfja sldfj aljf ladjaldjf alsdjf alsdjf aljfasd lfadjasdlfjk</div>
        <div>adslfjasldfja sldfj aljf ladjaldjf alsdjf alsdjf aljfasd lfadjasdlfjk</div>
    </div>
    <div class="layout-horizontal flex-children">
        <div class="flex-2">adslfjasdjf alsdjf aljfasd lfadjasdlfjk</div>
        <div>adslfjask</div>
        <div class="flex-3">adslfjasldfja sldfj aljf ladjaldjf alsdjf alsdjf aljfasd lfadjasdlfjkldfja sldfj aljf
            ladjaldjf alsdjf alsdjf aljfasd lfadjasdlfj</div>
        <div>adslfjadjasdlfjk</div>
        <div>adslfjjk</div>
    </div>
    <div class="layout-horizontal flex-children">
        <div class="flex-2">adslfjasdjf alsdjf aljfasd lfadjasdlfjk</div>
        <div>adslfj asdjf alsdjf aljfasd lfa asdjf alsdjf aljfasd lfaask</div>
        <div class="flex-3">adlfj</div>
        <div>adslfjadjasdlfjk</div>
        <div>adslfjjk asdjf alsdjf aljfasd lfa asdjf alsdjf aljfasd lfa asdjf alsdjf aljfasd lfa</div>
    </div>
    <div class="layout-horizontal flex-children">
        <div class="flex-2">adslfjasdjf alsdjf aljfassdjf alsdjf aljfassdjf alsdjf aljfasd lfadjasdlfjk</div>
        <div>adslfj asdjf alsdjf sdjf alsdjf aljfassdjf alsdjf aljfassdjf alsdjf aljfasaljfasd lfa asdjf alsdjf aljfasd
            lfaask</div>
        <div class="flex-3">adsdjf alsdjf aljfassdjf alsdjf aljfassdjf alsdjf aljfaslfj</div>
        <div>adslfsdjf alsdjf aljfassdjf alsdjf aljfassdjf alsdjf aljfasjadjasdlfjk</div>
        <div>adslfjjk sdjf alsdjf aljfassdjf alsdjf aljfassdjf alsdjf aljfasasdjf alsdjf aljfasd lfa asdjf alsdjf
            aljfasd lfa asdjf alsdjf aljfasd lfa</div>
    </div>
</div> -->